body{
    background-color: rgb(36, 35, 35);
}

h1{
    margin-left: 440px;
    margin-top: 40px;
    color: white;
    font-style: italic;

}


h2{
    padding-left: 50px;
    margin-left: 300px;
    margin-top: 50px;
    color: white;
   display: inline-flex;
    font-style: italic;

}

img{
    margin-left: 200px;
    margin-top: 30px;
}

#p1,#p2 {
    padding-left:  10px; 
    margin-right: 20px;
    
}
#p1{
    padding-left: 20px ;
}

button{
    margin-left: 550px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
    background-color:black;
    color: white;

    
}
button:hover {
    background-color:white;
    color: black;

}